
.box-categories{
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding: 10px 0px;
}

.logo-navbar{
    padding: 10px 0px;
    width: 40px;
    height: 40px;
}

h3{
    color: white;
    font-weight: 200 bold;
}
ul{
    display: flex;
    gap: 1rem;
    margin-right: 15%;
}


a{
    color: white;
    text-decoration: none;
}

